* {
  box-sizing: border-box;
}
body {
  background-color: beige;
}
thead {
  background-color: white;
}
tbody button {
  width: 100%;
  border-radius: 20%;
  background-color: white;
  border-color: white;
}
.top {
  vertical-align: top;
}
.special {
  color: rgb(0, 201, 111);
}
#equals {
  color: white;
  border-color: rgb(0, 201, 111);
  background-color: rgb(0, 201, 111);
  height: 47px;
}
thead th {
  border-radius: 20%;
}
th table p {
  margin: 0;
}
