* {
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: beige;
}
thead {
  background-color: white;
}
tbody button {
  width: 100%;
  border-radius: 20%;
  background-color: white;
  border-color: white;
}
.top {
  vertical-align: top;
}
.special {
  color: rgb(0, 201, 111);
}
#equals {
  color: white;
  border-color: rgb(0, 201, 111);
  background-color: rgb(0, 201, 111);
  height: 47px;
}
thead th {
  border-radius: 5%;
  background-color: rgb(0, 201, 111);
  height: 25px;
}
th table p {
  margin: 0;
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.983);
}
footer {
  color: aqua;
}
